
.article {
  width: 100%;
  padding: 24px;
  margin: 0;
  font-size: 13px;
  color: #333;
  border: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transform: translateX(100%);
}

.article:hover {
  background: #fafafa;
}

.article.animated {
  animation: enter 1.6s cubic-bezier(0.05, 0.95, 0.79, 0.95) forwards;
}


.header {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;

  align-items: center;
  position: relative;
}

.author {
  margin-left: 16px;
  color: #999;
}

.date {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header {
    align-items: flex-start;
    flex-flow: column;
  }

  .author {
    margin: 0 0 16px;
  }

  .date {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@keyframes enter {
  to {
    transform: translateX(0);
  }
}