.container {
  width: 100%;
  max-height: calc(100vh - 146px);
  overflow: scroll;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, .1);
  min-height: calc(100vh - 146px);
  transition: 1s height ease;
  margin-top: 146px;
}

.container.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
