.header {
  width: 100%;
  padding: 32px 16px 0;
  background: lightslategray;

  position: fixed;
  top: 0;
  z-index: 2;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  width: 100%;
  margin: 0 auto 8px;
  font-size: 40px;
  width: 100%;
}

.title,
.description {
  text-align: left;
  color: white;
}

.description {
  margin: 0 0 24px;
  line-height: 1.5;
  font-size: 1.5rem;
}