.circle {
  display: inline-block;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  opacity: 0;
  pointer-events: none;
}
.circle.active {
  opacity: 1;
  pointer-events: initial;
}
.circle div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: lightslategray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.circle div:nth-child(1) {
  left: 8px;
  animation: circle1 0.6s infinite;
}
.circle div:nth-child(2) {
  left: 8px;
  animation: circle2 0.6s infinite;
}
.circle div:nth-child(3) {
  left: 32px;
  animation: circle2 0.6s infinite;
}
.circle div:nth-child(4) {
  left: 56px;
  animation: circle3 0.6s infinite;
}
@keyframes circle1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes circle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
